@import '../../variables';

.Profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    .div-wallpaper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: url('../../../utils/11.jpeg');
        background-size: cover;
        background-position: center center;
        min-height: 40vh;
        max-height: 40vh;
        width: 100%;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 40vh;
            background-color: rgba(0, 0, 0, 0.35);
            z-index: 0;
        }
    }

    .main-container {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        margin: 2.5% 0;

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
            width: 100%;

            button {
                border: none;
                border-radius: 20px;
                padding: 1% 2.5%;
                cursor: pointer;
                background-color: $secondary-color;
                color: $main-color;
                transition: background-color 0.5s ease, color 0.5s ease;

                &:hover {
                    background-color: $main-color;
                    color: $secondary-color;
                }
            }
        }

        .main-Profile {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin: 2.5% 0;

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                .form-group {
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    width: 25%;
                    margin: 1% 0;

                    input {
                        padding: 10px;
                        font-size: 16px;
                        width: 100%;
                        border-radius: 15px;
                        border: 0.1rem solid black;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 2%;
                    padding: 10px 20px;
                    width: 10%;
                    border: none;
                    background-color: $secondary-color;
                    color: $main-color;
                    cursor: pointer;
                    transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;

                    &:hover {
                        background-color: $main-color;
                        color: $secondary-color;
                    }
                }
            }
        }

        .main-Appointments {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 2.5% 0%;
            .appointment-item{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 90%;
                margin: 2% 0%;
                span{
                    color: black;
                }
            }
        }

        .main-Lessons {
            display: flex;
            flex-direction: column;
            width: 60%;
            align-items: center;
            justify-content: center;
            margin: 2.5% 0%;
            .lesson {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin: 2% 0%;

                .lesson-details {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5% 2.5%;
                    width: 100%;
                    margin: 0;
                    cursor: pointer;
                    transition: transform 0.3s ease;

                    img {
                        width: 20%;
                        border-radius: 20px;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        h1 {
                            text-align: center;
                            color: black;
                            margin: 5px 0;
                        }
    
                        span {
                            color: black;
                            text-align: center;
                        }
                    }
                    

                    &:hover {
                        transform: scale(1.02);
                    }
                }

                .lesson-parts {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin-top: 10px;
                }

                .part {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 1% 0;
                    transition: height 0.3s ease, opacity 0.3s ease;

                    .part-details {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        cursor: pointer;

                        h1 {
                            color: black;
                        }

                        span {
                            color: black;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .modules-profile {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        margin-top: 10px;

                        .module {
                            margin: 2% 0;
                            z-index: 1;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;

                            video {
                                width: 50%;
                                height: auto;
                                border-radius: 10px;
                                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            }

                            .Ressources{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 2.5% 0%;
                                width: 50%;
                    
                                div{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    margin: 0% 12.5%;
                                    width: 100%;
                                    span{
                                        text-align: center;
                                        font-size: 28px;
                                        margin-bottom: 5%;
                                        width: 100%;
                                        color: black;
                                    }
                    
                                    svg{
                                        font-size: 56px;
                                        color: black;
                                    }
                                }
                            }
                        }
                    }

                    hr {
                        width: 75%;
                        margin: 15px 0;
                        border-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

        .main-Books {
            margin: 2.5% 0%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            .book-item{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-direction: column;

                h1{
                    text-align: center;
                    color: #714b33;
                }
                
                .image-description{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    gap: 5%;
                    img{
                        width: 30%;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    .not-found{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5% 0%;
        span{
            color: black;
            margin: 10% 0%;
        }

        button{
            background-color: $secondary-color;
            color: $main-color;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: $main-color;
                color: $secondary-color;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .Profile {
        .div-wallpaper {
            background-position-x: 46%;
        }
    
        .main-container {
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            margin: 5% 0;
    
            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2%;
                width: 95%;
    
                button {
                    width: 25%;
                    font-size: 12px;
                    height: 5vh;
                }
            }
    
            .main-Profile {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                margin: 2.5% 0;
    
                form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
    
                    .form-group {
                        width: 80%;
                    }
    
                    button {
                        width: 50%;
                    }
                }
            }
    
            .main-Appointments {
                margin-top: 5%;
                .appointment-item{
                    span{
                        color: black;
                        text-align: center;
                    }
                }
            }
    
            .main-Lessons {
                display: flex;
                flex-direction: column;
                width: 90%;
                align-items: center;
                justify-content: center;
                margin: 2.5% 0%;
                .lesson {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin: 2% 0%;
    
                    .lesson-details {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5% 2.5%;
                        width: 100%;
                        margin: 0;
                        cursor: pointer;
                        transition: transform 0.3s ease;
    
                        img {
                            width: 35%;
                            border-radius: 20px;

                        }
                        div{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            h1 {
                                text-align: center;
                                color: black;
                                margin: 5px 0;
                                font-size: 22px;
                            }
        
                            span {
                                color: black;
                                text-align: center;
                                font-size: 12px;
                            }
                        }
                    }
    
                    .lesson-parts {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 95%;
                        margin-top: 10px;
                    }
    
                    .part {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        margin: 1% 0;
                        transition: height 0.3s ease, opacity 0.3s ease;
    
                        .part-details {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            cursor: pointer;
    
                            h1 {
                                color: black;
                                font-size: 26px;
                            }
    
                            span {
                                color: black;
                                font-size: 16px;
                            }
    
                            &:hover {
                                text-decoration: underline;
                            }
                        }
    
                        .modules-profile {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            margin-top: 10px;
    
                            .module {
                                margin: 2% 0;
                                z-index: 1;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
    
                                video {
                                    width: 100%;
                                    height: auto;
                                    border-radius: 10px;
                                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                                }
    
                                .Ressources{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin: 2.5% 0%;
                                    width: 100%;
                        
                                    div{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;
                                        margin: 0% 12.5%;
                                        width: 100%;
                                        span{
                                            text-align: center;
                                            margin-bottom: 5%;
                                            width: 100%;
                                            color: black;
                                            font-size: 16px;
                                        }
                        
                                        svg{
                                            font-size: 32px;
                                            color: black;
                                        }
                                    }
                                }
                            }
                        }
    
                        hr {
                            width: 75%;
                            margin: 15px 0;
                            border-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
    
            .main-Books {
                margin: 2.5% 0%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 90%;
                .book-item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    flex-direction: column;
    
                    h1{
                        text-align: center;
                        color: #714b33;
                    }
                    
                    .image-description{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        flex-direction: column;
                        img{
                            width: 100%;
                            margin: 2.5% 0%;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    
        .not-found{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5% 0%;
            span{
                color: black;
                margin: 10% 0%;
            }
    
            button{
                background-color: $secondary-color;
                color: $main-color;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
                transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: $main-color;
                    color: $secondary-color;
                }
            }
        }
    }    
}