@import '../variables';

.Blogs{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .div-wallpaper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: url('../../utils/11.jpeg');
        background-size: cover;
        background-position: center center;
        min-height: 40vh;
        max-height: 40vh;
        width: 100%;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.35);
            z-index: 0;
        }
    }

    .main-blogs{
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background-color: white;

        h1{
            color: #7a6d4e;
            font-size: 60px;
        }

        label{
            color: #7a6d4e;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .form-group {
            position: relative;
            display: flex;
            align-items: center;
            width: 15%;
            margin-top: 1%;
            .search-input {
                border-radius: 50px;
                border: 1px solid black;
                padding: 12px 15px;
                padding-right: 2.5rem;
                width: 100%;
                font-size: 16px;
            }
          
            .search-icon {
              position: absolute;
              right: -5%;
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
            }
        }
        
        .blogs-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            .filters{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60%;
                gap: 10%;
                margin-top: 2.5%;
                .categories{
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    h3{
                        color: #7a6d4e;
                        margin: 0;
                    }

                    hr{
                        width: 100%;
                        border: 0.1rem solid #7a6d4e;
                    }

                    .categories-container{
                        display: flex;
                        flex-wrap: wrap; 
                        gap: 10px 25px;

                        .category{
                            margin: 0;
                            border-radius: 50px;
                            border: 1px solid #7a6d4e;
                            padding: 10px;
                            color: #7a6d4e;
                            cursor: pointer;
                        }
                    }

                }

                .orderbys{
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    h3{
                        color: #7a6d4e;
                        margin: 0;
                    }

                    hr{
                        width: 100%;
                        border: 0.1rem solid #7a6d4e;
                    }
                    
                    .orderby-container{
                        display: flex;
                        flex-wrap: wrap; 
                        gap: 10px 25px;
                        .orderby{
                            margin: 0;
                            border-radius: 50px;
                            border: 1px solid #7a6d4e;
                            padding: 10px;
                            color: #7a6d4e;
                            cursor: pointer;
                        }   
                    }
                }
            }

            .blogs-elements {
                margin: 2.5% 0% 5% 0%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 100%;
              
                .blog {
                    flex: 1 1 calc(50% - 1rem); 
                    box-sizing: border-box;
                    max-width: calc(35% - 1rem);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: black;
                    padding: 2.5%;
                    .image{
                        z-index: 2;
                        display: flex;
                        align-items: center;
                        width: 95%;
                        height: 35vh;
                        border: 3px solid #4b2f1a;
                        border-radius: 25px;
                        img{
                            z-index: 2;
                            width: 100%;
                            height: 35vh;
                            border-radius: 20px;
                        }
                    }

                    .details{
                        position: relative;
                        z-index: 5;
                        border: 3px solid #4b2f1a;
                        border-radius: 20px;
                        padding: 10px 20px;
                        width: 80%;
                        margin-top: -25%;
                        min-height: 25vh;
                        background-color: white;

                        p{
                            font-family: $Zing;
                            font-style: italic;
                            font-weight: bold;
                            margin: 1% 0%;
                        }

                        h2{
                            margin: 1% 0%;
                            color: #4b2f1a;
                            height: 7.5vh;
                        }

                        hr{
                            width: 100%;
                            border: 0.05rem solid $secondary-color;
                        }

                        span{
                            color: #4b2f1a;
                            font-size: 14px;
                        }

                        button{
                            position: absolute;
                            left: 5%;
                            bottom: -6%;
                            background-color: #4b2f1a;
                            border-radius: 50px;
                            border: none;
                            padding: 5px 20px;
                            display: flex;
                            color: white;
                            cursor: pointer;
                            font-size: 16px;
                        }
                    }
                }

                .blog-not-found{
                    margin-top: 2.5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    color: black;
                    font-size: 32px;
                    text-transform: uppercase;
                    font-family: $KingredModern;
                }
            }              
        }
    }
}