@import '../variables';

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-image: url('../../utils/1.jpeg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.35);
        z-index: 0;
    }

    img{
        width: 25%;
        z-index: 1;
    }

    h1{
        color: white;
        font-size: 48px;
        margin: 1% 0%;
        margin-top: 7.5%;
        z-index: 1;
    }

    span{
        color: white;
        z-index: 1;
    }

    .contact-main{
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 100%;
        width: 50%;
        margin-top: 2.5%;
        .contact-info{
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex: 50%;
            gap: 25px;

            .contact-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid white;
                width: 100%;
                padding: 5% 0%;

                h2{
                    color: white;
                }

                svg{
                    color: $secondary-color;
                    background-color: $main-color;
                    border-radius: 10px;
                    padding: 5%;
                    transition: background-color 0.5s ease, color 0.5s ease; 

                    &:hover{
                        background-color: $secondary-color;
                        color: $main-color;
                    }
                }

                span {
                    cursor: pointer;
                    color: white;
                    &:hover{
                        scale: 1.05;
                    }
                }
            }
        }

        .contact-mail{
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex: 50%;
            width: 100%;
            gap: 25px;
            margin-left: 5%;
            
            form{
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                gap: 25px;

                input{
                    border: 1px solid $secondary-color;
                    padding: 10px;
                    width: 100% ;
                    font-size: 16px;
                    color: $secondary-color;
                }

                textarea{
                    display: flex;
                    border: 1px solid $secondary-color;
                    padding: 10px;
                    font-size: 16px;
                    color: $secondary-color;
                    width: 100%;
                    resize: none;
                    min-height: 170px;
                    max-height: 170px;
                }

                button{
                    width: 100%;
                    background-color: $secondary-color;
                    color: $main-color;
                    padding: 10px 0px;
                    border: none;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.5s ease, color 0.5s ease; 
                    &:hover{
                        background-color: $main-color;
                        color: black;
                    }
                }
            }
        }
    }
}