@import '../variables';

.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: $main-color;

    .home-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        width: 100%;
        min-height: 110vh;
        position: relative;
        background-image: url('../../utils/1.jpeg');
        background-size: cover;
        background-position: center center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.35);
            z-index: 0;
        }

        h1 {
            margin-top: 12%;
            text-align: center;
            width: 50%;
            color: white;
            position: relative;
            z-index: 1;
        }

        span {
            text-align: center;
            color: white;
            position: relative; 
            z-index: 1; 
        }

        button {
            display: flex;
            border: 1px solid white;
            background-color: transparent;
            border-radius: 25px;
            padding: 1% 6%;
            color: white;
            font-size: 16px;
            font-weight: bold;
            margin-top: auto;
            margin-bottom: 2.5%;
            margin-right: 2%;
            position: relative;
            z-index: 1;
            cursor: pointer;
            overflow: hidden;
            transition: color 0.5s ease; // Smooth transition for text color
        
            // Water drop effect
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 300%;
                height: 300%;
                background-color: white;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: transform 1.5s ease;
                z-index: -1;
            }
        
            &:hover {
                border-color: white;
        
                &::before {
                    transform: translate(-50%, -50%) scale(0.5);
                }
        
                color: black;
            }
        }         
    }

    .temoignage{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 75%;

        .custom-audio-player {
            position: relative;
            background-color: #dcd5ca; 
            border-radius: 10px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 120px;
            box-shadow: 
            0px 10px 10px rgba(0, 0, 0, 0.1),     // Light shadow for the bottom left
            0px 10px 10px rgba(0, 0, 0, 0.1),     // Light shadow for the bottom right
            0px 50px 30px rgba(0, 0, 0, 0.4);     // Darker shadow for the bottom center
        }   
        
        .audio-waveform {
            display: flex;
            align-items: center;
            gap: 7px;
            justify-content: center;
            width: 80%;
            height: 100%;
            overflow: hidden;
            position: relative;
        
            @for $i from 1 through 50 {
                .wave-line-#{$i} {
                    width: 10px; 
                    border-radius: 25px;
                    background-color: #7a6d4e;
                    opacity: 0.7;
                    margin: 0 1px;
        
                    @if $i == 1 or $i == 50 {
                        height: 15%;
                    } 
                    @else if $i == 2 or $i == 49 {
                        height: 25%;
                    }
                    @else {
                        height: random(61%) + 20%; // 20% - 80%
                    }
                }
            }

            .waveform-cursor {
                z-index: 5;
                position: absolute;
                top: 10%;
                left: 4.25%;
                height: 75%;
                width: 10px;
                border-radius: 25px;
                background-color: white;
                transition: left 0.25s linear;
            }
        }        
        
        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.2);
            color: #7a6d4e;
            font-size: 40px;
            border: none; 
            transition: transform 0.3s ease, background-color 0.3s ease;
        
            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
        
            &:focus {
                outline: none;
            }
        }
        
        .carousel-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 75%;
        
            .temoignage-text {
                display: flex;
                align-items: center;
                width: 100%;
        
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    border: none;
                    color: #b17e59;
                    width: 5%; // Width of buttons
                    z-index: 1; // Ensure buttons are above the cards
                    cursor: pointer;
        
                    svg {
                        font-size: 64px;
                        font-weight: lighter;
                    }
                }
        
                .cards-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    overflow: hidden;
                    padding: 10% 0%;
                    gap: 0;
                    
                    .card {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 25px;
                        height: 25vh;
                        background-color: white;
                        color: black;
                        transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
                        width: 100%;
                        margin: 0;
                        transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;

                        #user-icon{
                            position: absolute;
                            top: -15%;
                            left: 10%;
                            border-radius: 50%;
                            width: 108px;
                        }

                        .stars{
                            position: absolute;
                            top: 5%;
                            right: 5%;
                            display: flex;
                            align-items: center;
                        }

                        span{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 80%;
                            font-size: 18px;
                            margin: 0;
                        }

                        svg{
                            position: absolute;
                            bottom: -12.5%;
                            right: 10%;
                            width: 60px;
                            height: 60px;
                        }
                        
                        &.current-card {    
                            z-index: 2;
                            width: 150%;
                        }
                
                        &.previous-card,
                        &.next-card {
                            transform: scale(1); 
                        }
                
                        &.previous-card {
                            transform: translateX(-50%);
                        }
                
                        &.next-card {
                            transform: translateX(50%);
                        }
                    }
                }                
            }
        }        

        .custom-video-player {
            position: relative;
            width: 40%; 
            height: 300px; 
            background-color: #000;
            border-radius: 12px;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover; 
                border-radius: 10px; 
                cursor: pointer;
            }
        
            .play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.5); 
                color: white;
                font-size: 40px;
                border: none;
                cursor: pointer;
                transition: opacity 0.3s ease, transform 0.3s ease;
                z-index: 2;
            }
        
            .play-button.hidden {
                display: none;
            }
        }     
        
        h1{
            color: #714b33;
        }
        
        span{
            text-align: center;
            width: 75%;
            color: black;
            margin-bottom: 20px;
        }
    }

    .programs{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        background-image: url('../../utils/3.png');
        background-size: cover;
        margin-top: 2.5%;

        .programs-content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 50%;
            height: 100vh;
            h1{
                color: #714b33;
            }

            span{
                margin-left: 5%;
                text-align: justify;
                color: black;
                width: 90%;
                font-size: 30px;
            }

            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 5% 0%;
                li{
                    list-style-type: none;
                    padding: 10px;
                    color: #714b33;
                    font-size: 26px;
                    font-weight: bold;
                    font-family: $Helvetica;
                }
            }

            a{
                color: #714b33;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .last-blogs{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 80vh;
        background-color: #dcd5ca;

        h1{
            margin: 5% 0% 0% 0%;
            color: #714b33;
        }

        .blogs-card-home{
            margin: 0% 0% 2.5% 0%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: transparent;

            .blog {
                flex: 1 1 calc(50% - 1rem); 
                box-sizing: border-box;
                max-width: calc(35% - 1rem);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: black;
                padding: 2.5%;
                background-color: transparent;
                .image{
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    width: 95%;
                    height: 35vh;
                    border: 3px solid #4b2f1a;
                    border-radius: 25px;
                    img{
                        z-index: 2;
                        width: 100%;
                        height: 35vh;
                        border-radius: 20px;
                    }
                }

                .details{
                    position: relative;
                    z-index: 5;
                    border: 3px solid #4b2f1a;
                    border-radius: 20px;
                    padding: 10px 20px;
                    width: 80%;
                    margin-top: -25%;
                    min-height: 25vh;
                    background-color: white;

                    p{
                        font-family: $Zing;
                        font-style: italic;
                        font-weight: bold;
                        margin: 1% 0%;
                    }

                    h2{
                        margin: 1% 0%;
                        color: #4b2f1a;
                        height: 7.5vh;
                    }

                    hr{
                        width: 100%;
                        border: 0.05rem solid $secondary-color;
                    }

                    span{
                        color: #4b2f1a;
                        font-size: 14px;
                    }

                    button{
                        position: absolute;
                        left: 5%;
                        bottom: -6%;
                        background-color: #4b2f1a;
                        border-radius: 50px;
                        border: none;
                        padding: 5px 20px;
                        display: flex;
                        color: white;
                        cursor: pointer;
                        font-size: 16px;
                    }
                }
            }

            .blog-not-found{
                margin-top: 2.5%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                color: black;
                font-size: 32px;
                text-transform: uppercase;
                font-family: $KingredModern;
            }
        }

        a{
            margin-bottom: 2%;
            color: #714b33;
            text-transform: uppercase;
            font-family: $Spartan;
        }
    }

    .ebooks-home{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-image: url('../../utils/books-bg.png');
        background-repeat: no-repeat;
        min-height: 80vh;
        background-size: cover;
        background-position-x: left;
        background-position-y: bottom;

        h1{
            margin-top: 5%;
            font-size: 64px;
        }
        span{
            width: 50%;
            font-family: $Helvetica;
            text-transform: uppercase;
        }

        div{
            display: flex;
            flex-direction: column;
            margin: auto auto 10% 10%;
            h2{
                font-family: $Spartan;
                text-transform: uppercase;
            }
            button{
                background-color: white;
                color: #714b33;
                border: none;
                font-family: $Spartan;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 15px;
                cursor: pointer;
                font-size: 20px;
            }
        }
    }

    .start{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../utils/2.png');
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        
        h1{
            margin-top: 7.5%;
            color: #714b33;
        }

        span{
            text-align: center;
            color: black;
            width: 65%;
            font-size: 30px;
        }
    }
}