@import '../variables';

.modules{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    background-image: url('../../utils/1.jpeg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    #go-back{
        z-index: 1;
        position: absolute;
        top: 15%;
        left: 5%;
        font-size: 32px;
        background-color: transparent;
        width: 0%;
        cursor: pointer;
        border: none;
    }

    h1{
        z-index: 1;
        margin-top: 10%;
    }

    span{
        z-index: 1;
        color: white;
    }

    ol{
        z-index: 1;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        margin: 1% 0%;

        li{

        }
    }

    .module{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        video{

        }

        .download{
            display: flex;
            align-items: center;
            background-color: $secondary-color;
            color: $main-color;
            padding: 1% 5%;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            margin-top: 5%;
        }
    }
}